
{% extends "base.html" %}

<script type="text/javascript">
function validate() {
var user = document.username.value;
var pass = document.password.value;
    if(user == '') {
        document.getElementById('error').innerHTML="Please Enter Username";
        return false;
    }
    if(pass == '') {
        document.getElementById('error').innerHTML="Please Enter Password";
        return false;
    }
}

</script>


{% block content %}

<form action='{{ url_for("login") }}' method="POST" name="login">
    {{ form.hidden_tag() }}
    Username: {{ form.username }}<br />
    Password: {{ form.password }}<br /><br />
    Remember me: {{ form.remember_me }}<br /> <br />

    {{ form.submit }}
</form>

{% endblock %}